/*
  ========================================
  CSS reset
  ========================================
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video, button {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*
  ========================================
  Custom styles
  ========================================
*/
html {
  height: 100%;
}
body {
	color: #fff;
	font-size: 62.5%;
	background: linear-gradient(to left, #000, #383838);
	background: #000 url(../images/test2_bg_compressed.jpg);
	background-size: auto 100%;
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
}
*,
*:before,
*:after {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	  		box-sizing: border-box;
}

/*
  ========================================
  Typography
  ========================================
*/
@font-face {
    font-family: 'DINCond Regular';
    src: url('../fonts/DINCond Regular Font Download-webfont.eot');
    src: url('../fonts/DINCond Regular Font Download-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/DINCond Regular Font Download-webfont.woff') format('woff'),
         url('../fonts/DINCond Regular Font Download-webfont.ttf') format('truetype'),
         url('../fonts/DINCond Regular Font Download-webfont.svg#OpenSansLight') format('svg');
    font-weight: normal;
    font-style: normal;
}

/*
  ========================================
  Links
  ========================================
*/
a {
	color: #fff;
	text-decoration: none;
}
a:hover {
	color: #A58A89;
}

/*
  ========================================
  Button
  ========================================
*/
.btn {
	background: #b62220;
	color: #fff;
	text-transform: uppercase;
	cursor: pointer;
	font-weight: 600;
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.btn:hover {
	background: #D44440;
}

/*
  ========================================
  Side Bar
  ========================================
*/

/*		styles		*/
.sidebar {
	float: left;
	margin: 8px;
	text-transform: uppercase;
}
.logo {
	position: absolute;
	left: 8px;
	font-size: 2.4em;
	font-family: "Times New Roman", Georgia, Serif;
}
.primary-nav li {
	font-family: "DINCond Regular", "Khand", "Helvetica Neue", Helvetica, Arial, sans-serif;
	-webkit-transition: all 0.5s ease;
	   -moz-transition: all 0.5s ease;
	     -o-transition: all 0.5s ease;
}
footer {
	position: absolute;
	left: 8px;
	bottom: 4px;
}


/*		Desktop			*/
@media all and (min-width: 533px) {
	.primary-nav {
		margin-bottom: 40px;
		height: 351px;
		position: absolute;
		top: 50%;
		margin-top: -145px;
	}
	.primary-nav li {
		font-size: 1.34em;
		line-height: 1em;
		padding: .5em 0;
	}
	.primary-nav li:hover {
		font-size: 1.6em;
		margin-left: 10px;
	}
	.primary-nav hr {
		margin-left: 0;
		width: 3em;
	}
	small {
		font: 14px/14px "DINCond Regular", "Khand", "Helvetica Neue", Helvetica, Arial, sans-serif;
	}
}

/*		Large resolution	*/
@media all and (min-width: 1370px) and (min-height: 1201px) {
	.logo {
		font-size: 3.5em;
	}
	.primary-nav {
		height: 455px;
		position: absolute;
		top: 50%;
		margin-top: -220px;
	}
	.primary-nav hr {
		margin-left: 0;
		width: 4.2em;
	}
	.primary-nav li {
		font-size: 1.8em;
		line-height: 1em;
		padding: 0.8em 0;
	}
	.primary-nav li:hover {
		font-size: 2.1em;
		margin-left: 12px;
	}
	small {
		font: 18px/24px "DINCond Regular", "Khand", "Helvetica Neue", Helvetica, Arial, sans-serif;
	}
}


/*
  ========================================
  Hero
  ========================================
*/
/*		styles 			*/
.hero {	
	background-color:rgba(0,0,0,.75);
	margin: 0 auto;
}
.container {
	padding: 0;
	text-align: center;
}
.hero h1,
.hero h2 {
	text-transform: uppercase;
}
.hero h1 {
	font-family: "Times New Roman", Georgia, Serif;
}
.hero h2 {
	font-family: "DINCond Regular", "Khand", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.hero p {
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/*		Desktop				*/
@media all and (min-width: 533px) {
	.hero {
		height: 335px;
		width: 410px;		
		margin-top: -167.5px;
		padding: 44px 50px;
		position: absolute;
		top: 50%;
		left: 0;
		right: 0;
	}
	.hero h1 {
		font-size: 6.72em;
		line-height: 1.28em;
		letter-spacing: 4px;
	}
	.hero h2 {
		font-size: 2.3em;
		line-height: 2.3em;
	}
	.hero p {
		font-size: 1.02em;
		line-height: 1.53em;
	}
	#small-hr {
		width: 53.38px;
		margin-top: 15px;
		margin-bottom: 15px;
	}
	.hero button {
		width: 53.38px;
		height: 21.32px;
		font-size: 0.96em;
		letter-spacing: 2px;
	}
}

/*		Large resolution	*/
@media all and (min-width: 1370px) and (min-height: 1201px) {
	.hero {
		width: 768px;
		height: 660px;
		margin-top: -330px;
		padding: 82px 124px;
		position: absolute;
		top: 50%;
		left: 0;
		right: 0;
	}
	.hero h1 {
		font-size: 10.2em;
		line-height: 1.4em;
		letter-spacing: 14px;
	}
	.hero h2 {
		font-size: 3.5em;
		line-height: 3em;
	}
	.hero p {
		font-size: 1.6em;
		line-height: 1.6em;
	}
	#small-hr {
		width: 100px;
		margin-top: 25px;
		margin-bottom: 25px;
	}
	.hero button {
		width: 100px;
		height: 40px;
		font-size: 1.8em;
		letter-spacing: 4px;
	}
}



/*
  ========================================
  Mobile screen size
  ========================================
*/

@media all and (max-width: 532px) {
	body {
		background: #000;
	}

	/* Primary nav --------------------*/
	.primary-nav hr {
		display: none;
	}
	.sidebar {
		width: 100%;
	}
	.primary-nav {
		margin-top: 50px;
	}
	.primary-nav li {
		display: inline-block;
		padding: 2px;
		min-width: 15%;
		text-align: center;
		font-size: 1.2em;
		line-height: 10px;
	}
	.logo {
		margin-left: 5px;
	}

	footer {
		position: absolute;
		left: 8px;
		bottom: 4px;
	}

	/*  Hero -------------------*/

	.hero {
		width: 320px;
		margin-top: 20px;
		padding: 44px 50px;
		clear: both;
		background: radial-gradient(circle at 50% 50%, #383838, #000);
	}
	.container {
		padding: 0;
	}
	.hero h1 {
		font-size: 5.37em;
		line-height: 1em;
	}
	.hero h2 {
		font-size: 2em;
		line-height: 1.8em;
	}
	.hero p {
		font-size: 1.02em;
		line-height: 1.53em;
	}
	#small-hr {
		width: 53.38px;
		margin-top: 15px;
		margin-bottom: 15px;
	}
	.hero button {
		width: 53.38px;
		height: 21.32px;
		font: 600 9.6px/12.8px "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	}
}
